<template lang="html">

   <div>
      <h1>{{title}}</h1>

      <div v-for="article in articles">
        <p>{{ article }}</p>
      </div>
   </div> 
    
</template>

<script>

  export default {
    name: 'Home',
    data() {
      return {
        title: 'welcome',
        article: [],
      };
    },
    methods: {
      onClick() {
      },
    },
    beforeCreate() {
      const url = 'https://newsapi.org/v1/articles?source=the-next-web&sortBy=latest&apiKey=';
      fetch(url, {
        method: 'get',
      })
      .then(response => response.json())
      .then((articles) => {
        this.article = articles.article;
      });
    },
  };
</script>
